@media only screen and (max-width: 430px) 
{
    .fonts{
        width: auto;
        height: auto;
        color: #f5f5f5;
    }
    .image{
        display: flex;
        overflow: hidden;
        width: 400px;
    
    }

        
        
    

    
}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {

}